<footer class="footer mt-5 py-4 bg-light border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Contact Information</h5>
        <p class="text-muted">
          <strong>Shri. Ram Kumar Singh</strong><br>
          MLA, Laxmipuram<br>
          Phone: +91-9876543210<br>
          Email: ram.singh@mla.gov.in
        </p>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-muted text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-muted text-decoration-none">About</a></li>
          <li><a href="/work" class="text-muted text-decoration-none">Work</a></li>
          <li><a href="/events" class="text-muted text-decoration-none">Events</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p class="text-muted">
          <a href="https://twitter.com/ramsingh" class="text-muted text-decoration-none me-3">Twitter</a>
          <a href="https://facebook.com/ramsingh" class="text-muted text-decoration-none me-3">Facebook</a>
          <a href="https://linkedin.com/in/ramsingh" class="text-muted text-decoration-none">LinkedIn</a>
        </p>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center text-muted">
      <p>&copy; {{ currentYear }} MLA Office, Laxmipuram. All rights reserved.</p>
    </div>
  </div>
</footer>
